form {}

label {
	//background-color: $color-light;
	font-weight: bold;
	color: $color-dark;
	padding: 0.5em;
	margin: 0.5em 0 0 0;
	display: block;
	box-sizing: border-box;
	width: 100%;
}

input, textarea, select, fieldset {
	padding: 0.5em;
	border: solid 2px $color-light;
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
}

textarea { resize: vertical; }

input:focus, textarea:focus, select:focus {
	border-bottom: solid 2px $color-highlight;
}

input[type=radio], input[type=checkbox] {
	width: auto;
	display: inline;
	margin: 0 0.5em 0 1em;
}

button {
	border-radius: 5px;
	background-color: $color-medium;
	color: $color-white;
	width: 100%;
	border: 0;
	border-bottom: solid 3px $color-dark;
	padding: 0.5em;
	margin-top: 0.5em;
}

button:hover {
	border-color: $color-highlight;
}

form ul {
	display: block;
	columns: 2 150px;
	column-gap: 0.5em;
}

form li { 
	display: block;
	width: 100%;
	float: left; 
	@include mq(phone) { display: block; }
}