////// Import Fonts
//@import url(http://fonts.googleapis.com/css?family=Lustria|Voces);
//@import url(http://weloveiconfonts.com/api/?family=fontelico);

// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Default font variables
$base-font-family-serif: Georgia, serif;
$base-font-family-sans: Arial, Helvetica, sans-serif;
$base-font-family-mono: monospace;

$base-font-size-small: 14px;
$base-font-size-medium: 16px;
$base-font-size-large: 20px;

$base-line-height: 1.2;