// Mixins for responsive design
$break-small: 600px;
$break-large: $ipad-landscape;

@mixin mq($media) {
  @if $media == phone {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: $break-large + 1) { @content; }
  }
}
/*
.example-usage {
  float: left;
  width: 250px;
  @include mq(small) { width: 100% ;}
  @include mq(medium) { width: 125px; }
  @include mq(large) { float: none; }
}
*/
// Mixin for columns
@mixin columns($columns, $margin-percentage) {
  .columns-#{$columns}-margin-#{$margin-percentage} {
    width: (100/$columns - $margin-percentage + $margin-percentage/$columns) * 1%;
    margin-right: $margin-percentage * 1%;
    padding: 0.5em;
    display: block;
    float: left;
    clear: none;
    vertical-align: top;
    @include mq(phone) { width: (100 - $margin-percentage)*1%; float: none; margin: $margin-percentage*1% auto; }
  }

  .columns-#{$columns}-margin-#{$margin-percentage}:last-child { 
    margin-right: 0;
    @include mq(phone) {margin: 0.5*$margin-percentage*1% auto;}
  }
}

// Mixin for grids (no margin)
@mixin grid($columns) {
  .grid-#{$columns} {
    width: 100/$columns * 1%;
    display: block;
    float: left;
    clear: none;
    vertical-align: top;
    @include mq(phone) { width: 100%; float: none; margin: 0 auto; } 
  }
}
/*
.row {overflow: hidden; padding:0; margin: 0;} //needed to contain columns
*/

// Mixin for overlays
@mixin overlay($name, $height, $lines, $line-height, $font-size, $img-url) {

  .bg-banner-#{$name} {
    background: url($img-url);
    background-size: cover;
    min-height: $height;
  }

  .banner-overlay-#{$name} {
    font-size: $font-size;
    line-height: $line-height;
    margin: 0 auto;
    position: relative;
    top: ($height / 2)-($lines * $font-size * $line-height / 4);
    overflow: hidden;
    height: $lines * $font-size * $line-height;
    width: fit-content;
  }
} 